<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>EJS</h1>

    <% if(productos.length > 0){ %>
        <ul>
        <% for(const producto of productos){ %>
            <li><%=producto.title%></li>
            <li><%=producto.price%></li>
            <li><img width="50" src="<%= producto.thumbnail %>" alt="Imagen no disponible"></li>
        <%}%>
        </ul>
    <% } else{ %>
        <h2>No hay productos disponibles</h2>
    <% } %>

    <a href="/">
        <button>Ingresar productos</button>
    </a>
</body>
</html>