
<h1>Ingresar producto</h1>

<form action="/api/productos">
    <label for="nombre">Nombre:</label>
    <input type="text" name="" id="">

    <label for="precio">Precio:</label>
    <input type="text" name="" id="">


    <label>Imagen (URL)</label>
    <input type='text' name='thumbnail' />

    <button type="submit">Agregar</button>
</form>

<a href="vistaProductos"> Ver productos</a>
    
