h1 Ingresar producto
form(action='/api/productos')
  label(for='nombre') Nombre:
  input(type='text' name='' id='')
  label(for='precio') Precio:
  input(type='text' name='' id='')
  label Imagen (URL)
  input(type='text' name='thumbnail')
  button(type='submit') Ingresar
a(href='vistaProductos')  Ver productos